<div class="registration">
    <div class="registration-title">
        <h1>Sign up with free trail</h1>
        <span>Empower yous experience, sign up for free account today</span>
    </div>
    <div class="registration-form">
        <div class="registration-form__email">
            <span>Email Addres*</span>
            <input type="mail" placeholder="ex.mail@gmail.com">
        </div>
        <div class="registration-form__password">
            <span>Password*</span>
            <input type="password" placeholder="Enter password">
        </div>
        <div class="registration-form__info">
            <span>By registration for an account, you are consenting to our <a class="info-terms" href="#">Terms of Service</a> and
                confirming that you have reviewed and accepted the <a href="#">Global Privacy Statement.</a>
            </span>
        </div>
        <div class="registration-form__button">
            <button>Get started free</button>
        </div>
        <div class="registration-form__login">
            <span>Already have an account? <a href="#">Login</a></span>
        </div>
    </div>

    <div class="registration-divider">
        <span class="registration-divider-text">Or better yet...</span>
      </div>      

    <div class="registration-email__button">
        <div class="button__google">
            <button>
                <img src="/assets/img/google.png" alt="google">
                <p>Continue with Google</p>
            </button>
        </div>
        <div class="button__Apple">
            <button>
                <img src="/assets/img/google.png" alt="google">
                <p>Continue with Apple</p>
            </button>
        </div>
    </div>
</div>